In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict, Counter

In [2]:
data = pd.read_csv("/home/phadke/ONR/ONR/lite_data/india_July_21.csv", header=0)
data.head()

,Unnamed: 0,domain,id,id_str,party,screen_name,state
0,0,1.0,784325894559059968,784325894559059968,To Be Added,Sanjay_Meshack,To Be Added
1,1,1.0,741171197342187521,741171197342187520,BJP,BJP4AnN,Andaman and Nicobar Islands
2,2,1.0,1283244990274002949,1283244990274002944,INC,NSubramanian1,To Be Added
3,3,1.0,935363557050298368,935363557050298368,INC,SatishYepuri,Andhra Pradesh
4,4,1.0,112384119,112384119,BJP,praveenkubjp,Bihar

In [5]:
data.groupby("party").size().reset_index().sort_values(by=[0]).tail(10)

           party      0
83           NCP    217
2           ABVP    219
37           GOV    295
121           SP    318
6         AIADMK    479
1            AAP    668
33           DMK    898
130  To Be Added   5774
22           BJP  10773
42           INC  10875

In [6]:
completed_collection = pd.read_csv("/home/phadke/ONR/ONR/data_collection/sample_data_dec_7.csv", header=0)
completed_collection.head()

,Unnamed: 0,Unnamed: 0.1,domain,id,id_str,party,screen_name,state
0,11287,11287,1.0,1629838772,1629838772,BJP,KaushalDaveDk,Gujarat
1,6762,6762,1.0,3767840414,3767840414,BJP,ssschauhan13,Uttar Pradesh
2,17662,17662,1.0,1970171502,1970171502,BJP,saikumarakula2,Maharashtra
3,18379,18379,NaN,924987338110808064,924987338110808064,BJP,Meetrajsinhbjym,To Be Added
4,15737,15737,1.0,868840407827927040,868840407827927040,BJP,maharaj_anshul,Madhya Pradesh

In [7]:
completed_screens = completed_collection['screen_name'].tolist()
len(completed_screens)

1000